body {
  background-color:rgb(14,22,58);
  font-family:'Roboto', sans-serif;
}
#header {
  color:white;
  text-align:center;
  font-size:2em;
  line-height:1.5em;
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
#prevBtn, #nextBtn {
  background-color:white;
  color:rgb(14,22,58);
  font-size:0.8em;
  padding:10px;
  cursor:pointer;
  border:4px outset rgb(220,220,220);
}
#responseWrapper {
  width:1000px;
  border:12px solid rgb(255 188 0);
  border-radius:8px;
  margin:0px auto;
  padding:20px;
}
